body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ee9b9b! important;
}

h1{
  
  text-align: center;
  color: white;
  font-size: 3rem! important;
}

h2{
  text-align: center;
  margin-top: 1rem! important;
  margin-bottom: 2rem! important;
}

h4{
  text-align: center;
}

p{
  font-weight: bold;
  line-height:1.1rem;
}

span{
  font-weight: 400;
}

.alert{
  background-color: #d42f53!important;
  text-align: center;
  color:white;
}

.img-logo{
  margin:auto;
  width: 40%;
  display: block;
}

.form-user{
  float: right;
  position: absolute;
}
.input-1::-webkit-input-placeholder{
  color: white!important;
}
.input-1::-moz-placeholder{
  color: white!important;
}
.input-2{
  color: #ef5475! important;
}
.input-2::-webkit-input-placeholder{
  color: #ef5475!important;
}
.input-2::-moz-placeholder{
  color: #ef5475!important;
}


.form-user-posts{
  float: right;
  position: absolute;
}

.btn-form-user{
  float: right;
}
.card{
  width:100%;
  height: 240px;
  margin: auto;
  
  padding: 1rem;
  border:none! important;
  border-radius: 10px!important;
  box-shadow: 2px 2px 20px rgb(99, 64, 64);
  
  
}


input{

  background-color: transparent! important;
  border-top: none ! important;
  border-left: none ! important;
  border-right: none ! important;
  border-radius: 0%! important;
}


.card-body{

  height: auto;
}
.card-menu{

  width: auto;
}

.card-img-top{


  width:90%! important;
  

}

.btn-act{

  width: auto;
  
}

.btn-info{

  color: white;
  background-color: #ef5475! important;
  border: 1px solid #db5975! important ;
}

.btn-info:hover{

  color: white;
  background-color: #b83d58! important;
  border: 1px solid #d84363! important ;
}

.btn-act:hover{
  border-radius: 0! important;
  background-color: rgb(243, 131, 156);
  color:white! important;
}

.Modals{
  overflow-y: scroll;
  height: 70%;
  width: 60%;
  padding: 3rem! important;
}

.Modals::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

.Modals::-webkit-scrollbar-thumb {
  background: rgb(243, 131, 156);
  border-radius: 4px;
}

.Modals::-webkit-scrollbar-thumb:hover {
  background: #ef5475;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.carusel{
  width: 85%;
  height: 380px;
  margin: auto;
}

.carusel img {
  margin-top: 1rem;
  width: 60%;
  height: 380px;
}


.btns{
  float:none;
	text-align:center;
}

.contenedor{
  padding: 0;
}

.card-body p::first-letter{
    
  text-transform: capitalize;
}

.card-header{
  font-weight: 600;
  background-color: #ee9b9b! important;
  color: white;
  
}

.card-header::first-letter{
  
  text-transform: capitalize;
}

.post-card{
  box-shadow: none! important;
  border: 1px solid #f097a6! important;
  width: 90%;
  height: auto;
}

.todo-card{
  height: auto;
  box-shadow: none! important;
  background-color: #ffc1cb! important;
  width: 90%;
  padding-top: 1rem!important;
}

.todo-card p{

  margin: 0! important;
}

.img-title{
  width: 45%;
  display: block;
  margin: auto;
}

.img-icon{

  width: 20%;
  display: block;
  margin: auto;

}

a{
  color: #b83d58! important;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
}

a::hover{

  text-decoration: none !important;
  color: #b83d58!important;
}



@media screen and (max-width: 1024px){

  .card{
    width: 100%;
    height: 270px;
    display: block;
    padding-bottom: 2rem;
  }

  .card-body{
    height: auto;
  }

  .post-card{
    box-shadow: none! important;
    border: 1px solid #f097a6! important;
    width: 90%;
  }
  .todo-card{

    height: 110px! important;
    padding: 1rem! important;

  }

  .radio{
    color: black! important;
  }

  
  .contenedor{
    padding: 2rem;
  }

}

@media screen and (max-width: 736px){

  .card{
    padding-bottom: 3rem! important;
    height: auto;
    margin:auto;
  }

  .img-logo{

    width: 90%;
  }

  .Modals{
    width: 90%;
  }

  .Modals img{
    width: 100%;
  }

  

}

input:focus, input.form-control:focus {

  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

